/* Root Variables */
:root {
  --primary: #00a761;
  --secondary: #00c241;
  --white: #082836;
  --offwhite: #fdfcfa;
  --gray: #082836;
  --text-dir: ltr;
  --whatsapp-green-1: #25d366;
  /* WhatsApp Green */
  --whatsapp-green-2: #128c7e;
  /* Darker Green */
  --whatsapp-light-green: #e7f7f2;
  /* Light Green */

  --warning-red: rgb(255, 39, 39);
}

/* Media Query for smaller devices */
@media (max-width: 600px) {
  .MainDiv {
    width: 100%;
    max-width: 650px;
  }

  .logo {
    width: 1vw;
    height: 1vw;
  }

  .wrapper {
    display: flex;
    /* flex-direction: column; */
    /* width: 100% !important; */
    min-width: 250px;

  }

  .wrapper .option {
    font-size: 0.7em;
    margin: 0px;
  }

}

/* Generic Field Settings */
.form__group {
  position: relative;
  padding: 15px 0 0;
  margin-bottom: 10px;
  width: 75%;
  direction: ltr;
  text-align: start;
}

.form__field {
  font-family: inherit;
  width: 100%;
  border: 0;
  border-bottom: 2px solid var(--gray);
  outline: 0;
  font-size: 1.3rem;
  color: var(--white);
  padding: 7px 0;
  background: transparent;
  transition: border-color 0.2s;
  text-align: left;
}

.form__field::placeholder {
  color: transparent;
}

.form__field:placeholder-shown~.form__label {
  font-size: 1.3rem;
  cursor: text;
  top: 20px;
}

.form__label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 1rem;
  color: var(--gray);
  left: 0;
}

.form__field:focus {
  padding-bottom: 6px;
  font-weight: 700;
  border-width: 3px;
  border-image: linear-gradient(to right, var(--primary), var(--secondary));
  border-image-slice: 1;
}

.form__field:focus~.form__label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 1rem;
  color: var(--primary);
  font-weight: 700;
  right: 0;
}

.form__field:required,
.form__field:invalid {
  box-shadow: 100px;
}



/* General Page Settings */
body {
  margin: 0px;
  font-family: 'Noto Sans Hebrew';
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.1em;
  direction: rtl;
  background-color: #ffffff;
  background-image: url("https://www.transparenttextures.com/patterns/diagmonds-light.png");
  /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
}

body::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url('https://www.transparenttextures.com/patterns/diag-stripes.png');
  opacity: 0.8;
  pointer-events: none;
}

.form {
  margin-top: 50px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 1000px;
}



p {
  margin: 0px;
}

.MainDiv {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* box-shadow: 1px 5px 15px -3px rgba(0, 0, 0, 0.30); */
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.MainHeader {
  background: linear-gradient(to right, #009921 30%, #00b33c 70%, #66cc66);
  color: white;
  display: grid;
  align-items: center;
  font-weight: 700;
  width: 90%;
  font-size: 1em;
  height: 75px;
  border-radius: 0px 0px 50px 50px;
  justify-content: end;
  justify-items: end;
}

.pageTitle {
  font-weight: 600;
  display: flex;
  width: 75%;
  text-align: right;
  margin-bottom: 10px;
  margin-top: 10px;
}

.buttonForNextPage {
  display: flex;
  width: 75%;
  flex-direction: column;
  align-items: center;
}

#divClear{
  display: flex;
  align-items: center;
  width: 1.5em;
}

#Clear{
  font-size: 1.5em;
  width: 1.5em;
}



/*Buttons CSS*/
.NextPage {
  width: 95%;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--primary);
  border-radius: 10px;
  border: none;
  color: white;
  font-weight: 100;
  gap: 8px;
  cursor: pointer;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.103);
  position: relative;
  overflow: hidden;
  /* transition-duration: .3s; */
  font-family: 'Noto Sans Hebrew';
  margin-bottom: 20px;
}

.svgIcon {
  width: 16px;
}

.svgIcon path {
  fill: white;
}

.NextPage:hover {
  transition-duration: .3s;
  background-color: #00c271;


}

.NextPage:active {
  transform: translate(3px, 2.5px);
  transition-duration: .3s;
}

.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.logo {
  width: 50px;
  height: 50px;
  grid-row-start: 1;
  grid-row-end: 3;
  grid-column: 2;
  margin-left: 30px;
  margin-right: 25px;
}

#MainTitle {
  grid-column: 1;
  margin: 0px;
  font-size: 1em;
}

#Secondry_title {
  grid-column: 1;
  margin: 0px;
  font-weight: 200;
  margin-top: -20px;
  font-size: 0.8em;
}

.buttons {
  width: 95%;
  display: flex;
  margin-top: 50px;
  justify-content: center;
  gap: 1%;
}

.warning {
  background-color: var(--warning-red);
  font-weight: 700;
  color: rgb(255, 255, 255);
  text-align: center;
  font-size: 14px;
  border-radius: 0px 0px 50px 50px;
  padding: 10px;
  width: 60%;
  direction: ltr;
  display: none;
}

